<h2 class="text-center">Production Gallery</h2>
<div class="text-center">The production of dried fruit entails…</div>
<div id="myCarousel" class="carousel slide gallerySlide" data-interval="false" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
        <li data-target="#myCarousel" data-slide-to="15"></li>
        <li data-target="#myCarousel" data-slide-to="16"></li>
        <li data-target="#myCarousel" data-slide-to="17"></li>
        <li data-target="#myCarousel" data-slide-to="18"></li>
        <li data-target="#myCarousel" data-slide-to="19"></li>
        <li data-target="#myCarousel" data-slide-to="20"></li>
        <li data-target="#myCarousel" data-slide-to="21"></li>
        <li data-target="#myCarousel" data-slide-to="22"></li>
        <li data-target="#myCarousel" data-slide-to="23"></li>
        <li data-target="#myCarousel" data-slide-to="24"></li>
        <li data-target="#myCarousel" data-slide-to="25"></li>
        <li data-target="#myCarousel" data-slide-to="26"></li>
        <li data-target="#myCarousel" data-slide-to="27"></li>
        <li data-target="#myCarousel" data-slide-to="28"></li>
        <li data-target="#myCarousel" data-slide-to="29"></li>
        <li data-target="#myCarousel" data-slide-to="30"></li>
        <li data-target="#myCarousel" data-slide-to="31"></li>
        <li data-target="#myCarousel" data-slide-to="32"></li>
        <li data-target="#myCarousel" data-slide-to="33"></li>
        <li data-target="#myCarousel" data-slide-to="34"></li>
        <li data-target="#myCarousel" data-slide-to="35"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/Images/Production/P-1-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-2-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-2.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-3-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-3.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-4-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-4.jpg" />
        </div>  
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-5.jpg" />
        </div>  
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-51 (1).jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-6-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-6.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-7-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-7.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-8-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-8.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-9-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-9.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-10-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-10.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-11-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-11.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-12-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-12.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-13-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-13.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-14-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-14.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-15-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-15.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-16-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-16.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Production/P-17.jpg" />
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<h2 class="text-center">Products Gallery</h2>
<div class="text-center">We are very proud of our products and always have the best on offer, just have a look below…</div>
<div id="myCarousel1" class="carousel slide gallerySlide" data-interval="false" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
        <li data-target="#myCarousel1" data-slide-to="3"></li>
        <li data-target="#myCarousel1" data-slide-to="4"></li>
        <li data-target="#myCarousel1" data-slide-to="5"></li>
        <li data-target="#myCarousel1" data-slide-to="6"></li>
        <li data-target="#myCarousel1" data-slide-to="7"></li>
        <li data-target="#myCarousel1" data-slide-to="8"></li>
        <li data-target="#myCarousel1" data-slide-to="9"></li>
        <li data-target="#myCarousel1" data-slide-to="10"></li>
        <li data-target="#myCarousel1" data-slide-to="11"></li>
        <li data-target="#myCarousel1" data-slide-to="12"></li>
        <li data-target="#myCarousel1" data-slide-to="13"></li>
        <li data-target="#myCarousel1" data-slide-to="14"></li>
        <li data-target="#myCarousel1" data-slide-to="15"></li>
        <li data-target="#myCarousel1" data-slide-to="16"></li>
        <li data-target="#myCarousel1" data-slide-to="17"></li>
        <li data-target="#myCarousel1" data-slide-to="18"></li>
        <li data-target="#myCarousel1" data-slide-to="19"></li>
        <li data-target="#myCarousel1" data-slide-to="20"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-2.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-3.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-4.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-5.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-6.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-7.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-8.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-10.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-11.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-12.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-13.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-14.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-15.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-16.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-17.jpg" />
        </div>  
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-18.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-19.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-20.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Products/Prod-21.jpg" />
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel1" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<h2 class="text-center">Surrounds Gallery</h2>
<div class="text-center">We have a lot to offer in Montagu… Come have a look!</div>
<div id="myCarousel2" class="carousel slide gallerySlide" data-interval="false" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
        <li data-target="#myCarousel2" data-slide-to="3"></li>
        <li data-target="#myCarousel2" data-slide-to="4"></li>
        <li data-target="#myCarousel2" data-slide-to="5"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/Images/Surrounds/Sur-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Surrounds/Sur-2.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Surrounds/Sur-3.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Surrounds/Sur-4.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Surrounds/Sur-5.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Surrounds/Sur-6.jpg" />
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel2" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<h2 class="text-center">Farming Gallery</h2>
<div class="text-center">We do it all, from picking to drying!</div>
<div id="myCarousel3" class="carousel slide gallerySlide" data-interval="false" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel3" data-slide-to="1"></li>
        <li data-target="#myCarousel3" data-slide-to="2"></li>
        <li data-target="#myCarousel3" data-slide-to="3"></li>
        <li data-target="#myCarousel3" data-slide-to="4"></li>
        <li data-target="#myCarousel3" data-slide-to="5"></li>
        <li data-target="#myCarousel3" data-slide-to="6"></li>
        <li data-target="#myCarousel3" data-slide-to="7"></li>
        <li data-target="#myCarousel3" data-slide-to="8"></li>
        <li data-target="#myCarousel3" data-slide-to="9"></li>
        <li data-target="#myCarousel3" data-slide-to="10"></li>
        <li data-target="#myCarousel3" data-slide-to="11"></li>
        <li data-target="#myCarousel3" data-slide-to="12"></li>
        <li data-target="#myCarousel3" data-slide-to="13"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/Images/Farming/F-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-2.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-3.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-4.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-5.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-6.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-7.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-9.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-10.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-11.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-12.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-13.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Farming/F-14.jpg" />
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel3" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel3" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<h2 class="text-center">Shop Gallery</h2>
<div class="text-center">Come buy some dried fruit from our store (or via our website)…</div>
<div id="myCarousel4" class="carousel slide gallerySlide" data-interval="false" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel4" data-slide-to="1"></li>
        <li data-target="#myCarousel4" data-slide-to="3"></li>
        <li data-target="#myCarousel4" data-slide-to="4"></li>
        <li data-target="#myCarousel4" data-slide-to="5"></li>
        <li data-target="#myCarousel4" data-slide-to="6"></li>
        <li data-target="#myCarousel4" data-slide-to="7"></li>
        <li data-target="#myCarousel4" data-slide-to="8"></li>
        <li data-target="#myCarousel4" data-slide-to="9"></li>
        <li data-target="#myCarousel4" data-slide-to="10"></li>
        <li data-target="#myCarousel4" data-slide-to="11"></li>
        <li data-target="#myCarousel4" data-slide-to="12"></li>
        <li data-target="#myCarousel4" data-slide-to="13"></li>
        <li data-target="#myCarousel4" data-slide-to="14"></li>
        <li data-target="#myCarousel4" data-slide-to="15"></li>
        <li data-target="#myCarousel4" data-slide-to="16"></li>
        <li data-target="#myCarousel4" data-slide-to="17"></li>
        <li data-target="#myCarousel4" data-slide-to="18"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-1.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-2.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-3.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-4.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-5.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-6.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-7.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-8.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-9.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-10.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-11.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-12.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-13.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-141.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-15.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-16.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-17.jpg" />
        </div>
        <div class="item">
            <img class="img-responsive" src="~/Content/Images/Shop/Shop-18.jpg" />
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel4" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel4" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
