@using FreeMarket.Models
@model AboutViewModel

@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="text-center">Our Story</h1>
            <hr />
        </div>
        <div class="row well">
            <div>
                <br />
                @Html.Raw(Model.MainDescription)
                <br />
                <div class="text-center"><b>The image below is the entrance to our shop in Montagu in the Western Cape of South Africa.</b></div>

                <div class="text-center"><img src="~/Content/Images/Shop-7.jpg" /></div>
                <br />

                <div class="text-center"><b>The image below shows the inside of our shop in Montagu.</b></div>

                <div class="text-center"><img src="~/Content/Images/Shop-9.jpg" /></div>
                <br />

                <div class="text-center"><b>The image below shows our drying baskets on the farm. </b></div>

                <div class="text-center"><img src="~/Content/Images/P-51.jpg" /></div>
            </div>
        </div>

        <div class="text-center row">
            <a class="btn btn-success" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-shopping-cart">&nbsp;&nbsp;Start Shopping!</span></a>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){

     $("#myCarousel").carousel({

         interval : 5000

     });

});

</script>