@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-sm-12">
        <div class="row well">
            @Html.Partial("_GalleryCarousel")
        </div>
    </div>
</div>