@using FreeMarket.Models
@model AspNetUserCustomer
@{
    ViewBag.Title = "View Customer";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div id="parentCustomer" class="container center_div well well-modal">
@if (Model != null)
{

    @Html.Partial("_CustomerPartial", Model)

    <div class="text-center">
        @Html.ActionLink("Back", "Index", "Admin", new { @class = "btn btn-success" })
    </div>

}
</div>

<script type="text/javascript">

(function ($) {
        var $window = $(window),
            $html = $('#parentCustomer');

        function resize() {
            if ($window.width() > 600) {
                return $html.addClass('center_div');
            }

            $html.removeClass('center_div');
        }

        $window
            .resize(resize)
            .trigger('resize');
})(jQuery);

</script>