<a href="https://www.facebook.com/LocarnoSunDriedFoodCompany/">
    <img src="~/Content/Images/facebook-logo.png" alt="Face Book" />
</a>

<a href="https://plus.google.com/+LocarnoSundriedFruitNutsMontagu">
    <img src="~/Content/Images/google-logo.png" alt="Google"/>
</a>

<a href="https://twitter.com/LocarnoFruit">
    <img src="~/Content/Images/twitter-logo.png" alt="Twitter" />
</a>
